<div class="row"  ng-init="init()">
		<div class="container">
			<div class="col-md-3">
			
				<a ui-sref="addUser"><input type="button" class="btn btn-primary" value="Add User"></a>
			</div>
			<div class="col-md-3 col-md-offset-6">
				Search: <input name="searchbox" type="text" ng-model="searchList">
			</div>
		</div>
		<div class="clearfix"></div>
		<hr/>
		<div class="container">
			
			<table class="table table-striped table-hover">
			 <tr id="rslt"><th ng-click="sortBy('Name')">Name</th><th ng-click="sortBy('Email')">Email</th><th ng-click="sortBy('Age')">Age</th><th ng-click="sortBy('Gender')">Gender</th><th ng-click="sortBy('Degree')">Qualification</th><th>Actions</th></tr>
			 <tr  ng-repeat="ul in userList | filter: searchList | orderBy:sortByMe">

				<td>{{ul.Name}}</td>
				<td>{{ul.Email}}</td>
				<td>{{ul.Age}}</td>
				<td>{{ul.Gender}}</td>
				<td>{{ul.Degree}}</td>
				<td><i class="fa fa-pencil-square-o" ng-click="edit(ul.u_Id)" aria-hidden="true"></i>&nbsp;&nbsp;<i class="fa fa-trash" aria-hidden="true" ng-click="remove(ul.u_Id)"></i></td>
				
			</tr>
			 
			</table>
			<br>
			<p>{{showMsg}}</p>
			<p ng-bind="send">{{send}}</p>
			<p ng-bind="name">{{name}}</p>
			<p ng-bind="email">{{email}}</p>
			<p ng-bind="age">{{age}}</p>
			<p ng-bind="gender">{{gender}}</p>
		</div>
		</div>